/* Import CSS normalize */
@import "reset/normalize.css" /* Import Roboto font from Google Fonts API */
  @import
  url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i");

*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* CSS SNIPPET: Variables */
  /* Background colours */
  --clr-bg-dark: #1f2937; /* Hero and footer section bg */
  --clr-bg-light: white;
  --clr-bg-quote: #e5e7eb;

  /* Text colours */
  /* 1 is for most prominent, then going lower. */
  --clr-text-hero-1: #f9faf8; /* Hero section*/
  --clr-text-hero-2: #e5e7eb; /* Hero section*/
  --clr-text-info: #1f2937; /* Black text for information section header */
  --clr-text-quote: #1f2937; /* quote body text */

  /* Blue colour for button and call to action bg */
  --clr-btn: #3882f6;

  /* Fonts */
  --ff-main: "Roboto", sans-serif;
}

/* Universal */
html {
  height: 100%;
}

body {
  /* Fonts */
  font-family: var(--ff-main);
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.wrapper {
  /* height: 100%;
    min-height: 100%; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Aligns it to vertically centre.  */
  /* justify-content: space-between; */
  padding: 2rem 5rem;
}

.container {
  padding: 10%, 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2 1 0;
}

/* Utility Classes */
/* Backgrounds */
.bg-dark {
  background-color: var(--clr-bg-dark);
}

.bg-quote {
  background-color: var(--clr-bg-quote);
}

.bg-light {
  background-color: var(--clr-bg-light);
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
  /* line-height: 0; */
}

nav,
footer {
  width: 100%;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 2 0;
}

nav > * {
  padding: 0 20px;
}

nav .nav-links {
  flex: 1 1 75%;
  display: flex;
}

nav .header-logo-text {
  flex: 1 1 25%;
  align-self: center;
  margin: 0;
  text-align: center;
}

nav li {
  flex: 1 1 0;
  text-align: center;
  text-transform: uppercase;
}

/* Header/Hero start */

header {
  width: 100%;
  display: flex;
  gap: 50px;
  padding: 50px;
}

/* header > * {
    flex: 1 1 0;
    padding: 50px 0
    box-sizing: border-box;
} */

.hero-img {
  flex: 1 1 0;
  box-sizing: border-box;
  width: clamp(5rem, 25%, 30%);
  padding: 50px;
  margin: 50 px;
  border-radius: 5rem;
}

.hero-text {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text > h1 {
  color: var(--clr-text-hero-1);
  font-size: 50px;
}

.hero-text > p {
  color: var(--clr-text-hero-2);
  padding: 10px;
}

.btn-dark-bg {
  color: var(--clr-text-hero-2);
  background-color: var(--clr-btn);
  padding: 25px;
  border-radius: 5px;
}

.btn-light-bg {
  border: 2px var(--clr-text-hero-2) solid;
  background-color: var(--clr-btn);
  padding: 10px;
  margin: 10px;
  border-radius: 3px;
}

/* INFO SECTION */

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info > * {
  flex: 1 1 0;
}

.info ul {
  display: flex;
}

/* Testimonial section */

.testimonial {
  background-color: var(--clr-bg-quote);
  display: flex;
  padding: 50px 0;
}

/* Call to Action section */

.call-to-action-box {
  display: flex;
  border-radius: 5px;
  margin: 25px;
  padding: 50px;
  background-color: var(--clr-btn);
  align-items: center;
}

/* Footer */
footer {
  color: var(--clr-text-hero-2);
  align-self: center;
}
